<mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="toolbar-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button class="toolbar-icon">
      <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>


<mat-drawer-container class="page-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="side" style="width: 200px">
        <mat-list role="list">
            <mat-list-item (click)="drawer.toggle()" class="linkMenu" routerLink="" role="listitem">
                <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
                <Label>Home</Label>
            </mat-list-item>
            <mat-list-item (click)="drawer.toggle()" class="linkMenu" routerLink="Profile" role="listitem">
                <mat-icon aria-hidden="false" aria-label="person icon">person</mat-icon>
                <Label>Meus Dados</Label>
            </mat-list-item>
            <mat-list-item (click)="drawer.toggle()" class="linkMenu" routerLink="Register" role="listitem">
                <mat-icon aria-hidden="false" aria-label="person icon">person</mat-icon>
                <Label>Cadastro</Label>
            </mat-list-item>
            <mat-list-item (click)="drawer.toggle()" class="linkMenu" routerLink="Register" role="listitem">
                <mat-icon aria-hidden="false" aria-label="chat icon">chat</mat-icon>
                <Label>Contato</Label>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content class="page-content">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>